<a href="https://colab.research.google.com/github/NanduKrishna-C/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question2

In [1]:
Name ="NANDU KRISHNA C"
Address ="ARIYALLUR, MALAPPURAM"
Telephone_no ="1234567890"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:NANDU KRISHNA C
 Address:ARIYALLUR, MALAPPURAM
 Telephone no:1234567890

Question3

In [2]:
 print("Your name is",Name)

Your name is NANDU KRISHNA C

Question4

In [4]:
 
#area of a rectangle 
Width = float(input("Enter the width: ")) 
Height = float(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 1
Enter the height: 1
The area is 1.0 Square units

Question5

In [5]:
#area of a triangle 
Base= float(input("Enter the base: "))
Height= float(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 23
Enter the height: 12
The area is 138.0 square units

Question6

In [6]:
#area of a circle
radius = float(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 10
The area is 314.0 square units

Question7

In [7]:
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: NANDU KRISHNA C
Enter your age: 19
My name is NANDU KRISHNA C and my age is 19

Question8

In [9]:
a= float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 2020
2021.0

Question9

In [12]:
Name = input("Enter your first name: ") 
print(Name)

Enter your first name: Nandu
Nandu